<template>
  <div>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewUser"
      v-b-modal.modal-form-user
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="SurName"
          label-for="surname"
          :invalid-feedback="invalidFeedbackSurName"
          :valid-feedback="validFeedbackSurName"
          :state="stateSurName"
        >
          <b-form-input
            id="surname"
            v-model="form.surname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Date"
          label-for="date"
          :invalid-feedback="invalidFeedbackDate"
          :valid-feedback="validFeedbackDate"
          :state="stateDate"
        >
          <b-form-input id="Date" v-model="form.date" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Education:"
          label-for="education"
          :invalid-feedback="invalidFeedbackEducation"
          :valid-feedback="validFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="education"
            v-model="form.education"
            :options="educationOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Positions"
          label-for="positions"
          :invalid-feedback="invalidFeedbackPositions"
          :valid-feedback="validFeedbackPositions"
          :state="statePositions"
        >
          <b-form-select
            id="positions"
            v-model="form.positions"
            :options="positionOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Salaly"
          label-for="salaly"
          :invalid-feedback="invalidFeedbackSalaly"
          :valid-feedback="validFeedbackSalaly"
          :state="stateSalary"
        >
          <b-form-input
            id="salary"
            v-model="form.salaly"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        surname: '',
        gender: null,
        salaly: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      educationOptions: [
        { text: 'Select One', value: null },
        { value: 'Bachelor s degree', text: 'Bachelor s degree' },
        { value: 'Master s degree', text: 'Master s degree' },
        { value: 'Docter s degree', text: 'Docter s degree' }
      ],
      positionOptions: [
        { text: 'Select One', value: null },
        { value: 'Manager', text: 'Manager' },
        { value: 'Secretary', text: 'Secretary' },
        { value: 'Audit', text: 'Audit' },
        { value: 'Purchase', text: 'Purchase' },
        { value: 'Programmer', text: 'Programmer' },
        { value: 'Maid', text: 'Maid' }
      ],
      userList: [
        {
          id: 1,
          name: 'Phongsathorn',
          surname: 'Phanthasen',
          gender: 'M',
          date: '13/02/1999',
          education: 'Docter s degree',
          position: 'Programmer',
          salaly: '20000'
        },
        {
          id: 2,
          name: 'Tammine',
          surname: 'saimanday',
          gender: 'M',
          date: '01/01/2000',
          education: 'Docter s degree',
          position: 'Manager',
          salaly: '23000'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'name',
        'surname',
        'gender',
        'date',
        'education',
        'position',
        'salaly',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New User')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit : ' + user)
      this.title = 'แก้ไขชื่อผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del : ' + user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!', {
          title: 'Please Confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please enter something'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateSurName () {
      return this.form.surname.length >= 2
    },
    invalidFeedbackSurName () {
      if (this.form.surname.length > 2) {
        return ''
      } else if (this.form.surname.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please enter something'
      }
    },
    validFeedbackSurName () {
      return this.stateSurName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please select Gender'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else {
        return 'Please select Education'
      }
    },
    validFeedbackEducation () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    },
    statePositions () {
      return this.form.positions != null
    },
    invalidFeedbackPositions () {
      if (this.form.positions != null) {
        return ''
      } else {
        return 'Please select Positions'
      }
    },
    validFeedbackPositions () {
      return this.statePositions === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
